body {
    width: 800px;
    margin: auto;
    background-color: #E6E6E6;
}

#container {
    border: 1px solid grey;
    position:relative;
    background-color: white;
}
#toolbar {
   float: left;
    margin-right: 20px;
}

.ui-menu { width: 150px; }
